@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Overpass Mono';
  src: url('/fonts/overpass-mono/OverpassMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

.mapboxgl-ctrl-attrib-button {
  @apply !p-0;
}

.mapboxgl-ctrl-attrib-inner {
  @apply px-2 max-w-[100vw] md:max-w-[calc(100vw_-_430px_-_40px_-_16px)] py-1 overflow-hidden font-sans text-xs text-left whitespace-nowrap text-ellipsis;
}

.mapboxgl-popup-content {
  @apply !p-0 !bg-white !pointer-events-none !rounded-none;
  box-shadow: 0 0px 0px 1px rgba(26, 28, 34, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
