@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Overpass Mono';
  src: url('/fonts/overpass-mono/OverpassMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass Mono';
  src: url('/fonts/overpass-mono/OverpassMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass Mono';
  src: url('/fonts/overpass-mono/OverpassMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib {
  @apply !p-0;
}

.maplibregl-ctrl-attrib-inner {
  @apply px-2 max-w-[100vw] md:max-w-[calc(100vw_-_430px_-_40px_-_16px)] py-1 overflow-hidden font-sans text-xs text-left whitespace-nowrap text-ellipsis;
}
